* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.logo {
    padding: 10px 40px;
    padding-top: 7px;
    color: rgb(99, 166, 225);
    font-size: 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 25%;
    cursor: pointer;
}

.navbar {

    height: 50px;
    display: flex;
    /* background-color: transparent; */
}

ul li {
    list-style: none;
    font-size: 15px;
    /* font-weight: bold; */
}

.contain1 video {

    opacity: 0.6;
    z-index: 1;
    width: 100%;
    /* height: 600px; */
}

.conain1 {
    padding-top: 20px;
}

.b1 button {
    border: black;
    background-color: crimson;
    font-size: 17px;
    /* font-family: ui-monospace; */
    border-radius: 14px;
    height: 31px;
    width: 111px;
}

header {
    /* position: relative; */
    /* background: url(../images/course-video.mp4); */
}

.contain1 {
    /* padding-top: 130px; */

}

.contain1 h3 h2 p {
    position: absolute;
    top: 150px;
}

.cont-h3 {
    position: absolute;
    z-index: 1;
    top: 113px;
    left: 95px;

}

.contain1 {
    position: relative;
    z-index: 2;
    color: white;
    font-weight: 900;

}

.cont-h2 {
    position: absolute;
    top: 143px;
    font-weight: 900;
    color: white;
    font-size: 30px;
    left: 95px;
}

.cont-p {
    position: absolute;
    top: 188px;
    left: 95px;
    color: white;
}

.b1 {
    position: absolute;
    top: 265px;
    background-color: red;
    width: 131px;
    border-radius: 20px;
    height: 31px;
    border: none;
    color: white;
    left: 95px;
}

.box1 {
    background-position: center center;
    border-radius: 27%;
    color: #fff;
    padding: 40px;
    width: 288px;
    background: url(images/service-item-bg.jpg) no-repeat;
}

.box2 {
    border-radius: 27%;
    color: #fff;
    padding: 40px;
    width: 288px;
    background: url(images/service-item-bg.jpg) no-repeat;
}

.box1 img {
    margin-left: 83px;
}

.box1 h3 {
    padding-left: 48px;
    font-size: 15px;
}

.box1 p {
    padding-left: 31px;
    margin: 10px;
    font-size: 12px;
}

.box2 img {
    margin-left: 83px;
}

.box2 h3 {
    padding-left: 48px;
    font-size: 15px;
}

.box2 p {
    padding-left: 31px;
    margin: 10px;
    font-size: 12px;
}

.box3 img {
    margin-left: 83px;
}

.box3 h3 {
    padding-left: 48px;
    font-size: 15px;
}

.box3 p {
    padding-left: 31px;
    margin: 10px;
    font-size: 12px;
}

.box3 {
    border-radius: 27%;
    color: #fff;
    padding: 40px;
    width: 288px;
    background: url(images/service-item-bg.jpg) no-repeat;
}

.boxes {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.box1 {
    position: absolute;
    left: 162px;
    top: -178PX;
    z-index: 2;
}

.box2 {
    position: absolute;
    left: 497px;
    top: -178PX;
    z-index: 2;
}

.box3 {
    position: absolute;
    right: 130px;
    top: -178PX;
    z-index: 2;
}

.contain3 {
    text-align: center;
    background: url(images/meetings-bg.jpg);
    margin-top: -47px;
    width: 100%;

}

.contain3 h2 {
    padding-top: 132px;
    color: #fff;
}

.w1 {

    margin-top: 37px;
    padding-top: 34px;
    height: 317px;
    width: 24%;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}

.W2 {

    margin-top: 28px;
    padding-top: 8px;
    background-color: brown;
    color: #fff;
    text-align: center;
    width: 219PX;
    height: 37px;
    border: none;
    border-radius: 25px;
}

.w0 {
    display: flex;
    padding-top: 53px;
    padding-left: 35px;
}

.w4 {
    margin: 31px;
    position: relative;
    background-color: aliceblue;
    /* border: 2px solid red; */
    height: 299px;
    width: 369px;
    padding-left: 20px;
    border-radius: 33px;
}

.w4 img {
    border-radius: 33px;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: -1px;
}

.para01 {
    padding-top: 203px;
}

/* .dollar {
    margin-right: 178px;
    width: 59px;
    height: 25px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
    z-index: 2;
} */

/* .dollar1 {
    border: none;
    margin-top: 10px
    margin-right: 179px;
    width: 59px;
    height: 25px;
    border-radius: 7px;
} */

.w6 {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
/* page3   css start here......... */
.page3{
    background: url(images/apply-bg.jpg);
    width: 100%;
    height: 590px;
}
.para{

    padding-top: 95px;
    width: 40%; 
    gap: 10px;
}
.a2{
    background-color:black;
    opacity: 0.5;
    padding-bottom: 10px;
    padding-left: 27px;
    padding-top: 10px;
     color: #fff;
}
.a2 h2 p button{
    padding-left: 20px;
}
.B1{
    border-radius: 9px;
    width: 108px;
    height: 31px;
    background-color: brown;
}
.a3{
    margin-top: 95px;
    padding-top: 45px;
    border-radius: 19px;
    border: 2px solid rgb(120, 119, 119);
    width: 38%;
    height: 391px;
    background-color:white;
    color: #272626;
}
.a1{
    display: flex;
    justify-content: space-evenly;
}
.a3 h3{
    padding-left: 49px;
}
.a3 p {
    padding-left: 80px;
}
/* ....four page */
.c1{
    margin-bottom: 86px;
    padding-right: 10px;
    width: 22%;
    height: 243px;
    position: relative;  
    background-color: white;

}
.c1 img{
    width: 100%;
    height: 131px;
    position: absolute;
    top: 0px;
}

.c1 h4{
    color: #252424;

    padding-top:150px;
    padding-left: 46px;
} 
.para2{

    padding-top: 110px;
    padding-left: 65px;
    display: flex;
    gap: 25px;
    /* justify-content: space-evenly; */
}
.count-4{
    background: url(images/meetings-bg.jpg);
    height: 590px;
    width: 100%;

}
.page4{
}
.p-course{
    padding: 50px;
    color: white;
    text-align: start;
}
.page5{
    display: flex;
    background: url(images/facts-bg.jpg);
    height: 580px;
}
.contain5{
    margin: 50px;
    width: 50%;
}
.contain6{
  width: 50%;

}
  .c5{
    padding-top: 10px;
    color: white;
    width: 141px;
    height: 84px;
    text-align: center;
    background-color: black;
    opacity: 0.3;
    border-radius: 15px;
 }
 .c6{
    padding-top: 10px;
    color: white;
    width: 145px;
    height: 84px;
    text-align: center;
    background-color: black;
    opacity: 0.3;
    border-radius: 15px;
 }
 .cs5{

    padding-left:65px;
    padding-top: 56px;
 }
 .cs6{
    padding-left:97px ;
    padding-top: 136px;
 }
 .fact{
    padding-top: 40px;
    padding-left: 71px;
 }
 .cs{
 display: flex;
 }
 .contain6 img{
    border-radius: 25px;

    width: 345px;
    height:378px;
    margin: 150px;
 }
 /* footer... */
 .page6{
    /* justify-content: space-around;
     */
     /* gap: 20px; */
    display: flex;
    background: url(images/meetings-bg.jpg);
 }
.contain7{
    border-radius: 25px;
    margin: 58px;
    padding: 58px;
    width: 60%;
    background-color: #fff;
    border: 2px solid white;
}
.contain7 button{
    height: 34px;
    width: 199px;
    border: none;
    border-radius: 20px;
    background-color: crimson;
}
.contain8{
    width: 20%;
    margin: 50px;
}
.tab {
    padding: 10px;
    border-radius: 20px;
    width: 170px;
    border: none;
    height: 29px;
    background-color: rgb(234, 237, 245);
}
.msg{
    width: 542px;
    height:133px;
    background-color: rgb(234, 237, 245);
    border-radius: 20px;
    /* border: 2px solid red; */
}
.contain8{
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 40px;
    width: 250px;
    height: 453px;
    background-color: crimson;
    color: black;
    /* background-color: white; */
    /* border: 2px solid rebeccapurple; */
}